h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a{
    text-decoration: none;

}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

body{
    padding: 0;
    margin: 0;
    width: 1440px;
}

button {
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

header{
    background-image: url(./img/manu-bar.png);
    background-repeat: no-repeat;
    width: 1440px;
    height: 810px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
}

.nav{
    width: 165px;
    height: 810px;
    background: #002A32;
}

.icon-greenary{
    margin: 19px 35px 30px;
    fill:#FFFFFF;
}

.side-nav{
    display: flex;
    flex-direction: column;
}

.side-nav li{
    display: flex;
    flex-direction: column;
    width: 165px;
    height: 98px;
    transition: background-color .3s linear;
}

.side-nav p{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #8999A2;
    transition: color .3s linear;
}

.side-nav svg{
    fill: #CAD3DB;
    margin-top: 20px;
    transition: fill .3s linear;
}

svg.home {
    fill: #B6DDFF;
    width: 32px;
    height: 29px;
    margin: 20px 0 1.5px 66px;
}

.shop{
    width: 26px;
    height: 29px;
    margin-left: 69px;
    margin: 0 0 2px 69px;
}

.blog{
    width: 27px;
    height: 31px;
    margin: 0 0 3px 69px;
}

.about-us{
    width: 30px;
    height: 31px;
    margin: 0 0 4px 69px;
}

.gallery{
    width: 30px;
    height: 24px;
    margin: 0 0 4px 68px;
}

.location{
    width: 30px;
    height: 32px;
    margin: 0 0 5px 68px;
}

.side-nav li:hover svg{
    fill: #B6DDFF;
}

.side-nav li:hover, .side-nav li:nth-child(1){
    background-color: #3C6C7F;
}

.side-nav li:hover p, .side-nav li:nth-child(1) p{
    color: #B6DCFF;
}

.panel {
    display: flex;
}

.left-panel{
    width: 589px;
    display: flex;
    flex-direction: column;
}

.log ul{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-left: 95px;
    margin-top: 28px;
}

.log ul a{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.log ul p{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    color: #3E5860;
    text-transform: uppercase;
}

.log ul svg{
    width: 18px;
    height: 17px;
    fill:white;
    margin: 3px 39px 0 12px;
    transition: fill .3s linear;
}

.save{
    width: 394px;
    height: 194px;
    margin: 214px 0 0 95px;
}

.save p{
    font-family: 'Dancing Script';
    font-weight: 700;
    font-size: 20px;
    color: #4E6E77;
    margin-bottom: 9px;
}

.save h2{
    width: 394px;
    height: 194px;
    font-family: 'Dosis';
    font-weight: 600;
    font-size: 50px;
    color: #264A51;
}

.save button{
    border: 1.5px solid #43717D;
    border-radius: 3px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 15px;
    align-items: center;
    color: #264A51;
    padding: 8px 17px;
    margin-top: 26px;
    transition: border .3s linear;
}

.save button:hover{
    border: 1.5px solid white;
}

.ellipse{
    display: flex;
    flex-direction: row;
    width: 67px;
    height: 14px;
    margin: 285px 0 0 522px;
}

.ellipse svg{
    stroke: #677F8B;
    fill: none;
    
}

.ellipse svg:nth-child(2){
    fill:#677F8B;
}

.right-panel{
    width: 686px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.purchase ul{
    display: flex;
    margin-top: 34px;
}

.purchase a{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.purchase svg{
    fill: white;
    margin-right: 14px;
    margin-top: 2px;
}

.purchase {
    margin-left: 158px;
}

.list{
    height: 16px;
    width: 22px;
}

.share{
    height: 18px;
    width: 14px;
}

.sec_share{
    margin: 0 35px;
}

.cart {
    height: 16px;
    width: 21px;
    /* margin-left: 35px; */
}

.purchase p{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    align-items: center;
    color: #3E5860;
}

.straight{
    display: inline-block;
    width: 195px;
    height: 145px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    margin: 138px 0 0 110px;
}

.brands{
    width: 1440px;
    height: 120px;
    background: #D2E2EE;
    padding-top: 20px;
}

.brands ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.brands ul svg{
    fill: #7D7D7D;
}

.design{
    width: 71px;
    height: 82px;
    margin-right: 100px;
}

.branding{
    width:100px;
    height: 100px;
    margin-right: 70px;
}

.greenary{
    width: 140px;
    height: 63px;
    margin-right: 60px;
}

.nature-1{
    width: 120px;
    height: 110px;
    margin-right: 75px;
}

.nature-2{
    width: 110px;
    height: 71px;
    margin-right: 80px;
}

.company{
    width: 105px;
    height: 103px;
}

.our-products{
    background: #CFCFCF;
    padding-top: 92px;
    width: 1440px;
    height: 1073px;
}

.our-products h2{
    font-family: 'Dosis';
    font-weight: 600;
    font-size: 46px;
    text-align: center;
    color: #264A51;
}

.list-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 33px;
}

.item-button{
    margin-left: 60px;
    border: 2px solid transparent;
    border-radius: 2px;
    margin: 0 40px 28px 0;
    transition: border .3s, color .3s;
}

.item-button:hover{
    border: 2px solid #3E5860;
}

.item-button p{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 17px;
    color: #748289;
    margin: 0 15px;
}

.item-button:hover p{
    color: #3E5860;
}

.wrap_list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.wrap_item{
    width: 350px;
    height: 316px;
    background: #F1F6F9;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    margin-right: 30px;
    margin-bottom: 12px;
    background-repeat: no-repeat;
}

.wrap_item ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wrap_item li{
    width: 38px;
    height: 38px;
    background-color: #71B3C6;
    border-radius: 2px;
    margin-top: 258px;
    margin-right: 16px;
    transition: background-color .3s linear;
}

.wrap_item li:last-child{
    margin-right: 0;
}

.wrap_item li:hover{
    background-color: #264A51;
}

.wrap_item li svg{
    width: 20px;
    height: 20px;
    fill: #D4DCE2;
    margin: 9px;
    transition: fill .3s linear;
}

.wrap_item li:hover svg{
    fill: white;
}

.wrap_list p{
    width: 111px;
    height: 40px;
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #264A51;
    margin: 0 0 32px 120px;
}

.sofa-1 {
    background-image: url(img/chair_1.png);
    background-position: center;
}

.sofa-2 {
    background-image: url(img/chair_2.png);
    background-position: center;
}

.sofa-3 {
    background-image: url(img/chair_3.png);
    background-position: center;
}

.sofa-4 {
    background-image: url(img/chair_4.png);
    background-position: center;
}

.sofa-5 {
    background-image: url(img/chair_5.png);
    background-position: center;
}

.sofa-6 {
    background-image: url(img/chair_6.png);
    background-position: center;
}


